* {
	padding: 0px;
	margin: 0px;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}
@font-face
{
	font-family: "Raleway";
	src: url(../../console/src/font/Raleway-Bold.ttf),
	url(../../console/src/font/Raleway-Regular.ttf),
	url(../../console/src/font/Raleway-Light.ttf);
}
body{
	background-color: #ededed;
}
img, a {
	display: block;
	text-decoration: none;
}
p, span {
	font-size: 14px;
	font-family: 'Î¢ÈíÑÅºÚ';
	color: #4d4d4d;
}
.head
{
	min-width: 1000px;
	--head-height: 50px;
	background-color: #1be2d7;
	position: relative;
	display: flex;
	color: #fbfbfb;
	align-items: center;
	box-shadow: 0px 0px 9px #717171;
}
.logo
{
	flex: none;
	display: flex;
	align-items: center;
	background-color: #ababab;
}
.logo:hover
{
	background-color: #858585;
	transition: background-color 0.4s;
	cursor: pointer;
}
.logoIcon
{
	background-size: 80% 80%;
	background-image: url(../../console/src/logo-min.png);
}
.headImage
{
	height: var(--head-height);
	width: var(--head-height);
	background-position: center center;
	background-repeat: no-repeat;
}
.logoWord
{
	width: 130px;
	font-size: 150%;
	padding-right: 10px;
}
.menuItem
{
	height: var(--head-height);
	padding: 0px 20px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	font-size: 130%;
	cursor: default;
}
.headBlank
{
	flex: auto;
}
.administratorPortraitContainer
{
	height: var(--head-height);
	width: var(--head-height);
	padding-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.administratorPortrait
{
	height: 80%;
	width: 80%;
	border-radius: 100%;
	border: solid white 2px;
	background-image: url(../images/tu.jpg);
	background-size: 100% 100%;
	background-position: center center;
    background-repeat: no-repeat;
	cursor: pointer;
}
.mainContainer {
	width: 70.5%;
	height: 600px;
	min-width: 1050px;
	margin: 25px auto;
	overflow: hidden;
	background-color:rgba(0,0,0,0);
}
.navContent {
	width:24%;
	float: left;
}
.navContent a {
	color: #2B2B2B;
	font-size: 16px;
	font-family: 'Microsoft Yahei';
	text-align: center;
	line-height: 60px;
}
.user {
	height: 120px;
	margin-bottom: 25px;
	background-color: #F8F8FF;
	display: flex;
	align-items: center;
	cursor: pointer;
	box-shadow: 1px 1px 2px #717171;
}
.userbox 
{
	height: 60px;
	width: 60px;
	margin-left: 20px;
	border-radius: 100%;
	border: solid white 2px;
	background-image: url(../images/tu.jpg);
	background-size: 100% 100%;
	background-position: center center;
    background-repeat: no-repeat;
	cursor: pointer;
}
.userinformation{
	margin-left: 10px;
	height: 60px;
	width: 120px;
}
.name{
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 130%;
}
.qq{
	
	height: 20px;
	display: flex;
	align-items: center;
	font-size: 50%;
}
.listbox{
	background-color: #ededed;
	box-shadow: 1px 1px 2px #717171;
}
.list {
	margin-bottom: 2px;
	padding-left: 83px;
	padding-right: 44px;
	display: block;
	background-color: #F8F8FF;
}
.list:hover
{
	background-color: #c3e8e8;
}
.firstInfo {
	margin-left: 25px;
	width: 73%;
	background-color: #F8F8FF;
	float: left;
	height: 600px;
	box-shadow: 1px 1px 2px #717171;
}
.write {
	background-color: #FFF;
	width: 20%;
	height: 50px;
	margin-top:20px;
	margin-bottom: 20px;
	margin-left:70%;
	border-radius: 5%;
	box-shadow: 0px 0px 2px #717171;
	text-align:center;
    line-height:50px;
    font-size: 16px;
	font-family: 'Microsoft Yahei';
	cursor: pointer;
}
.write:hover{
	background-color: #9fff80;
}
.box {
	background-color: #FFF;
	height: 120px;
	margin-bottom:2px;
	cursor: pointer;
	display:flex;
}


.boxA{
	background-image: url(../images/枫叶.png);
	background-size: 100% 100%;
	background-position: center center;
	background-color: #fdd6d6;
	width: 15%;
	line-height: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
.boxB{
	width: 72%;
	height: 100%;
}
.title{
	height: 30%;
	color: #000;
	font-family: "微软雅黑";
	font-weight: bolder;
	font-size:24px;
	margin-top: 10px;
	
}
.title:hover{
	color:#cc0000;
}
.content{
	height: 40%;
	font-size:12px;
	margin-top: 5px;
}
.detail{
	width: 15%;
	height:20%;
	font-family: "微软雅黑";
	font-weight: bolder;
	font-size:12px;
	display: inline-block;
}
.secondInfo {
	margin-left: 25px;
	width: 73%;
	background-color: #F8F8FF;
	float: left;
	height: 600px;
	box-shadow: 1px 1px 2px #717171;
	
}
.status {
	font-size: 30px;
	color: #f87678;
	line-height: 70px;
}
.young {
	margin-top: 70px;
	line-height: 30px;
	color: #FFF;
}
.bigTest {
	margin-left: 50px;
}
.young span, .fond span {
	font-size: 24px;
	color: #FFF;
}
.fond {
	color: #FFF;
	margin-top: 20px;
}
.thirdInfo {
	margin-left: 25px;
	width: 73%;
	background-color: #F8F8FF;
	float: left;
	height: 600px;
	box-shadow: 1px 1px 2px #717171;
}
.change {
	background-color: #FFF;
	width: 20%;
	height: 50px;
	margin-top:50px;
	margin-left:10%;
	border-radius: 5%;
	box-shadow: 0px 0px 2px #717171;
	text-align:center;
    line-height:50px;
    font-size: 16px;
	font-family: 'Microsoft Yahei';
	cursor: pointer;
}