/*绿色渐变色的主背景*/
.mainBackground{
    position: absolute;
    border: 0px;
    padding: 0px;
    margin-top: -25px;
    margin-left: -10px;
    height: 100%;
    width: 100%;
    min-height: 960px;
    min-width: 960px;
    background: linear-gradient(to bottom right, rgb(70, 253, 200),rgb(255, 255, 255));
    filter: none;
}

/*LOGO的字体和导航栏其他样式*/
.font{
    font-family:"Trebuchet MS", sans-serif;
    color: white;
}

.logoText{
    position: absolute;
    top: 50px;
    left: 20%;
    text-decoration: none;
    font-size: 35px;
}

/*注册和登陆块的样式*/
.signUpAndSignIn{
    position: absolute;
    top: 50px;
    right: 20%;
    height: 35px;
    width: 143px;
    /* background-color: blueviolet; */
}

/*导航栏距离顶部的距离*/
.topBar{
    font-size: 14px;
}

/*注册按钮的样式*/
.signUpButton{
    position: absolute;
    top: 7px;
    left: 10px;
    text-decoration: none;
}

/*中间那一杠*/
.divideBar{
    font-size: 25px;
    position: absolute;
    top: -25px;
    left: 70px;
    user-select: none;
}

/*登陆按钮的样式*/
.signInButton{
    position: absolute;
    top: 7px;
    right: 10px;
    text-decoration: none;
}

/*首页主要文字的样式*/
.mainTextFont{
    font-family:Helvetica, sans-serif;
    color: white;
    cursor: default;
}

/*首页大大的标语*/
.mainHeaderText{
    position: relative;
    top: 200px;
    text-align: center;
}

/*首页小小的标语*/
.mainText{
    position: relative;
    text-align: center;
    top: 200px;
    font-size: 20px;
}

/*首页图片的容器的样式*/
.imgDiv{
    position: relative;
    bottom: -300px;
    text-align: center;
}

/*首页图片的样式*/
.mainImg{
    /* width: 1068px;
    height: 624px; */
    width: 712px;
    height: 428px;
}

/*弹出页面的（伪）虚化背景*/
.blurBackground{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

/*让inline-block的注册页面居中*/
.signUpSiteToCenter{
    text-align: center;
}

/*注册页面*/
.signUpSite{
    display: none;
    width: 500px;
    height: 500px;
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 8px;
    z-index: 1002;
    animation: opacity0To1 1s;
    -webkit-animation: opacity0To1 1s;
}

@keyframes opacity0To1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes opacity0To1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*注册页面的标语*/
.signUpTitle{
    color: rgb(160, 160, 160);
    position: relative;
    top: 30px;
}

/*输入框的标准样式*/
.inputFrame{
    position: relative;
    margin-top: 30px;
    width: 370px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
}

/*注册时判断两次密码是否一致的警告*/
.passwordNotMatchWarnning{
    position: relative;
    top: 10px;
    left: -80px;
    color: red;
}

/*注册页面的确认注册按钮*/
.signUpConfirmButton{
    position: relative;
    margin-top: 30px;
    width: 370px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(70, 253, 200);
    color: white;
}

/*让inline-block的登陆页面居中*/
.signInSiteToCenter{
    text-align: center;
}

/*登陆页面*/
.signInSite{
    display: none;
    width: 500px;
    height: 500px;
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 8px;
    z-index: 1002;
    animation: opacity0To1 1s;
    -webkit-animation: opacity0To1 1s;
}

/*登陆页面的标题*/
.signInTitle{
    color: rgb(160, 160, 160);
    position: relative;
    top: 30px; 
    margin-bottom: 50px;
}

/*登陆页面的分界线*/
.divideLine{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
    width: 370px;
    height: 5px;
    border-radius: 2px;
    margin-top: 30px;
}

/*登陆页面的确认登陆按钮*/
.signInConfirmButton{
    position: relative;
    margin-top: 40px;
    width: 370px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(70, 253, 200);
    color: white;
}

/*引导注册的提示语*/
.signUpGuide{
    color: rgb(160, 160, 160);
    position: relative;
    left: -100px;
}

/*引导到注册页面的按钮*/
.signInToSignUp{
    position: relative;
    left: 100px;
    width: 100px;
    height: 30px;
    background-color: rgb(70, 253, 200);
    border-style: none;
    border-radius: 5px;
}