*
{
    padding: 0px;
    margin: 0px;
}

body
{
    --shallow-theme-color: #1ABC9C;
    --shadow-theme-color-second: #16A085; /*没怎么用过*/
    --deep-theme-color: #34495E;
    --deep-theme-color-second: #2C3E50;
    --transform-duration: 0.5s;
    /*--shallow-theme-color: #1be2d7;*/
    /*--deep-theme-color: #2eb7bb;*/
}

.main
{
    min-width: 1000px;
    --head-height: 70px;
}

.head
{
    position: relative;
    height: var(--head-height);
    background-color: var(--deep-theme-color-second);
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    user-select: none;
    font-size: 130%;
}

.logo
{
    flex: none;
    display: flex;
    align-items: center;
    /*background: linear-gradient(to bottom, var(--shallow-theme-color) 20%, #c5c5c5);*/
}

.logoIcon
{
    background-size: 80% 80%;
    background-image: url(../src/logo-min.png);
}

.logoWord
{
    width: 130px;
    font-size: 130%;
    padding-right: 10px;
}

.menuItem
{
    height: var(--head-height);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.menuItem:hover
{
    color: var(--shallow-theme-color);
    background-color: var(--deep-theme-color);
    transition: all var(--transform-duration);
}

.flexBlank
{
    flex: auto;
}

.menuButton
{
    height: var(--head-height);
    width: var(--head-height);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuButton:hover
{
    color: var(--shallow-theme-color);
    background-color: var(--deep-theme-color);
    transition: all var(--transform-duration);
}

.administratorInfo
{
    padding: 0 10px;
}

.administratorPortraitContainer
{
    height: var(--head-height);
    width: var(--head-height);
    display: flex;
    align-items: center;
}

.administratorPortrait
{
    height: 80%;
    width: 80%;
    border-radius: 100%;
    border: solid white 2px;
    background-size: 100% 100%;
    background-color: #eeeeee;
    background-position: center center;
    background-repeat: no-repeat;
}

.body
{
    width: 100%;
    height: calc(100vh - var(--head-height));
    display: flex;
}

.sidebar
{
    width: 200px;
    height: 100%;
    overflow: auto;
    user-select: none;
    background-color: var(--deep-theme-color);
    color: white;
}

.sidebarListTitle
{
    width: 100%;
    font-weight: bold;
    height: var(--head-height);
    margin: 20px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all var(--transform-duration);
}

.sidebarListTitle[data-expand="true"]
{
    color: var(--shallow-theme-color);
    background-color: var(--deep-theme-color-second);
    transition: all var(--transform-duration);
}

.sidebarListContent
{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.sidebarListContent[data-expand="false"]
{
    max-height: 0px;
    transition: max-height 1s;
}

.sidebarListContent[data-expand="true"]
{
    max-height: 350px;
    transition: max-height 1s;
}

.sidebarListItem
{
    font-weight: bold;
    color: white;
    width: 100%;
    height: var(--head-height);
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebarListItem:hover
{
    color: var(--shallow-theme-color);
    background-color: var(--deep-theme-color-second);
    transition: all var(--transform-duration);
}

.sidebarListTitleIcon
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarListTitleWord
{
    flex: auto;
}

.sidebarListTitleStatusIcon
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarListTitleStatusIcon[data-expand="false"]
{
    transform-origin: center center;
    transform: rotate(0deg);
    transition: transform var(--transform-duration);
}

.sidebarListTitleStatusIcon[data-expand="true"]
{
    transform-origin: center center;
    transform: rotate(90deg);
    transition: transform var(--transform-duration);
}

.content
{
    width: calc((100% - 200px) * 0.95);
    margin: 0 auto;
}

.controlPanelTop
{
    width: 100%;
    height: var(--head-height);
    display: flex;
    align-items: center;
}

.searchInput
{
    margin-right: 20px;
    width: 50%;
}

.searchButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 100%;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: var(--shallow-theme-color);
    transition: all 0.3s;
}

.searchButton:hover
{
    color: var(--shallow-theme-color);
    background-color: white;
    transition: all 0.3s;
}

.controlPanelBlank
{
    flex: 1;
}

.refreshButton:hover
{
    filter: grayscale(0);
}

#table /* 因为要document.getElementById获取table，索性设置成ID*/
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    box-shadow: 0px 0px 5px #9a9a9a;
}

.tableColumn
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
}

.tableCell
{
    height: calc(var(--head-height) * 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableHead
{
    height: var(--head-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 130%;
}

.checkboxContainer
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationContainer
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.customPagination
{
    /*background-color: red;*/
    margin: 0px;
}

.pagination > li
{
    cursor: pointer;
}

.jumpPanel
{
    width: 200px;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination
{

}

.controlPanelBottom
{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

.controlPanelBottomButton
{
    color: var(--deep-theme-color);
    cursor: pointer;
    margin: 30px;
}

.controlPanelBottomButton:hover
{
    color: var(--shallow-theme-color);
}

.pageInput
{
    font-size: 120%;
    width: 100px;
    height: 40px;
    margin: 0 20px;
}

.jumpButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 100%;
    height: 30px;
    width: 70px;
    border: solid 1px #c5c5c5;
    color: #868686;
    background-color: white;
    margin-right: 50px;
    margin-left: 10px;
    transition: all 0.3s;
}

.jumpButton:hover
{
    color: black;
    border-color: black;
    transition: all 0.3s;
}