*
{
	padding: 0px;
	margin: 0px;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}

body
{
	background: url(../src/console_background.jpg) no-repeat fixed;
	background-size: 100% 100%;
}

.main
{
	height: 100vh;
	width: 100vw;
	min-width: 1000px;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
}

.window
{
	margin: 0 auto;
	width: 400px;
	height: 600px;
	background-color: rgba(42, 85, 121, 0.45);
	border-radius: 10px;
	user-select: none;
}

.logo
{
	background-image: url(../src/logo-min.png);
	background-size: 100% 100%;
	width: 100px;
	height: 100px;
	margin: 40px auto 20px auto;
}

.name
{
	color: #eeeeee;
	font-size: 2.2em;
	margin: 0 auto;
	text-align: center;
}

.inputArea
{
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inputDiv
{
	width: 60%;
	height: 50px;
	margin: 10px auto;
	display: flex;
	box-shadow: 0 0 10px 0px #929292;
}

.inputIcon
{
	flex: 5;
	width: 50px;
	height: 50px;
	background-size: 60% 60%;
	background-position: center center;
	background-repeat: no-repeat;
}

.usernameIcon
{
	background-image: url(../src/username.png);
}

.passwordIcon
{
	background-image: url(../src/password.png);
}

.inputContainer
{
	flex: 19;
	display: flex;
	justify-content: center;
}

input
{
	width: 100%;
	font-size: 130%;
	padding-left: 10px;
	color: #eeeeee;
	background-color: transparent;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: transparent;
	outline: none;
	transition: border 0.8s;
}

input:focus
{
	border-color: #2eb7bb;
	transition: border 0.8s;
}

.loginButton
{
	width: 60%;
	height: 10%;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 10px;
	background-color: #2eb7bb;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #eee;
	font-size: 140%;
	transition: background-color 0.5s, color 0.5s;
}

.loginButton:hover
{
	background-color: #eee;
	color: #2eb7bb;
	transition: background-color 0.5s, color 0.5s;
}