/*æ¥è‡ªfullpageçš„example.css*/
@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: rgb(59, 59, 59);
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top: 20px;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu--------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }











/*lu-å¢žåŠ çš„*/


/*ä¸‰ä¸ªé¡µé¢çš„é¢œè‰²*/
#section0{
	background-color: #5BAEB2
    /* background: linear-gradient(to bottom, #5BAEB2,#94C9C9); */
}

#section1{
	background-color: #94C9C9
    /* background: linear-gradient(to bottom ,#94C9C9, #5BAEB2); */
}

#section2{
	background-color: #5BAEB2
    /* background: linear-gradient(to bottom, #5BAEB2,#94C9C9); */
}

.floatRight{
    float: right;
}

.rightBlank{
    position: fixed;
    right: 15%;
}

.floatLeft{
    float: left;
}

.leftBlank{
    margin: 10px;
    position: fixed;
    left: 15%;
}

.logo{
    font-family:"Trebuchet MS", sans-serif;
    color: white;
    font-size: 35px;
}

/*é¦–é¡µä¸»è¦æ–‡å­—çš„æ ·å¼*/
.mainTextFont{
    font-family:Helvetica, sans-serif;
    color: white;
    cursor: default;
}

/*é¦–é¡µå¤§å¤§çš„æ ‡è¯­*/
.mainHeaderText{
    position: relative;
    top: 0px;
    font-size: 30px;
    font-weight: 1000;
}

/*é¦–é¡µå°å°çš„æ ‡è¯­*/
.mainText{
    position: relative;
    top: 20px;
    font-size: 30px;
}

/*é¦–é¡µå›¾ç‰‡çš„å®¹å™¨çš„æ ·å¼*/
.imgDiv{
    position: relative;
    bottom: -100px;
	margin: 0;
}

/*é¦–é¡µå›¾ç‰‡çš„æ ·å¼*/
.mainImg{
    width: 854.4px;
    height: 499.2px;
    /* width: 712px;
	height: 428px; */
	box-shadow: 10px 10px 50px #666;
}

/*ç™»é™†ç•Œé¢*/
.signInSite{
	display: flex;
	width: 600px;
	height: 400px;
	position: relative;
	top: 35px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px 8px 8px 0px;
}

.signInSiteFigure{
	width: 250px;
	height: 460px;
	background-color: #5BAEB2;
	border-radius: 8px;
	position: inherit;
	bottom: 35px;
	animation: rollingFigure 1.5s;
	-webkit-animation: rollingFigure 1.5s;
}

@keyframes rollingFigure {
	from{
		left: -1000px;
	}
	to{
		left: 0px;
	}
}

@-webkit-keyframes rollingFigure {
	from{
		left: -1000px;
	}
	to{
		left: 0px;
	}
}

.signInFrame{
	width: 350px;
	height: 400px;
	background-color: white;
	border-radius: 0px 8px 8px 0px;
	position: inherit;
	left:0px;
	padding-left: 50px;
	text-align: left;
	animation: rollingFrame 1.5s;
	-webkit-animation: rollingFrame 1.5s;
}

@keyframes rollingFrame {
	from{
		left: -250px;
	}
	to{
		left: 0px;
	}
}

@-webkit-keyframes rollingFrame {
	from{
		left: -250px;
	}
	to{
		left: 0px;
	}
}

.signInTitle{
	position: inherit;
	font-size: 30px;
	color: #666;
	margin-top: 80px;
	margin-bottom:  30px;
}

.inputTitle{
	font-size: 8px;
	color: #5BAEB2;
}

.inputFrame{
	height: 30px;
	width: 250px;
	border-style: none none solid;
	border-bottom-color:  #5BAEB2;
	margin-bottom: 20px;
	outline: none;
}

.signInButton{
	height: 30px;
	width: 100px;
	margin-top:  20px;
	margin-left: 80px;
	background-color:  #3498DB;
	border-style:  none;
	border-radius:  15px;
	outline:  none;
	color:  white;
}


/*注册页面*/
.signUpSite{
	display: flex;
	width: 600px;
	height: 400px;
	background-color: gray;
	position: relative;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px 8px 8px 0px;
}

.signUpSiteFigure{
	width: 250px;
	height: 560px;
	background-color: rgb(46, 135, 139);
	border-radius: 8px;
	position: inherit;
	bottom: 35px;
}

.signUpFrame{
	width: 350px;
	height: 500px;
	background-color: white;
	border-radius: 0px 8px 8px 0px;
	position: inherit;
	left:0px;
	padding-left: 50px;
	text-align: left;
}

.signUpTitle{
	position: inherit;
	font-size: 30px;
	color: #666;
	margin-top: 70px;
	margin-bottom:  30px;
}

.signUpButton{
	height: 30px;
	width: 100px;
	margin-top:  20px;
	margin-left: 60px;
	background-color:  #3498DB;
	border-style:  none;
	border-radius:  15px;
	outline:  none;
	color:  white;
}