*
{
	padding: 0px;
	margin: 0px;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}

@font-face
{
	font-family: "Raleway";
	src: url(../../console/src/font/Raleway-Bold.ttf),
	url(../../console/src/font/Raleway-Regular.ttf),
	url(../../console/src/font/Raleway-Light.ttf);
}

body
{
	background-color: #f5f5f5;
}



.head
{
	min-width: 1000px;
	--head-height: 70px;
	background-color: #1be2d7;
	position: relative;
	display: flex;
	color: #fbfbfb;
	align-items: center;
	box-shadow: 0px 0px 9px #717171;
}

.headImage
{
	height: var(--head-height);
	width: var(--head-height);
	background-position: center center;
	background-repeat: no-repeat;
}

.logo
{
	flex: none;
	display: flex;
	align-items: center;
	background-color: #ababab;
}

.logoIcon
{
	background-size: 80% 80%;
	background-image: url(../../console/src/logo-min.png);
}

.logoWord
{
	width: 130px;
	font-size: 150%;
	padding-right: 10px;
}

.menuItem
{
	height: var(--head-height);
	padding: 0px 20px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	font-size: 130%;
	cursor: pointer;
}

.menuItem:hover
{
	background-color: #2eb9bd;
	transition: background-color 0.4s;
}

.headBlank
{
	flex: auto;
}

.menuButton:hover
{
	background-color: #2eb9bd;
	transition: background-color 0.4s;
}

.notificationButton
{
	background-image: url(../../console/src/notification.png);
	background-size: 40% 40%;
}

.logoutButton
{
	background-image: url(../../console/src/logout.png);
	background-size: 40% 40%;
}

.administratorInfo
{
	padding: 0 10px;
}

.administratorPortraitContainer
{
	height: var(--head-height);
	width: var(--head-height);
	padding-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.administratorPortrait
{
	height: 80%;
	width: 80%;
	border-radius: 100%;
	border: solid white 2px;
}

.content
{
	width: 100%;
	height: calc(100vh - var(--head-height));
	display: flex;
}

.aside
{
	width: 210px;
	background-color: white;
	height: 100%;
	overflow: auto;
}

.asideListTitle
{
	width: 100%;
	font-weight: bold;
	height: var(--head-height);
	margin: 20px auto 0px auto;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 20px #d8d8d8;
}

.asideListContent
{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.asideListContent[data-expand="false"]
{
	max-height: 0px;
	transition: max-height 1s;
}

.asideListContent[data-expand="true"]
{
	max-height: 350px;
	transition: max-height 1s;
}

.asideListItem
{
	width: 100%;
	height: var(--head-height);
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.asideListItem:hover
{
	color: white;
	background-color: #2eb7bb;
	transition: background-color 0.4s;
}

.tableArea
{
	width: calc(100% - 210px);
	display: flex;
	justify-content: center;
	align-items: center;
}

table
{
	width: 95%;
	background-color: white;
	text-align: center;
	box-shadow: 0px 0px 9px #9a9a9a;
	border-collapse: collapse;
}

th
{
	font-size: 120%;
	padding: 40px 0px;
}

tr
{
	border-bottom: solid #d0d0d0 1px;
	margin: 20px 20px;
}

td
{
	color: #868686;
	padding: 10px 0px;
}