*{
    box-sizing: border-box;
}

html{
    color:#333;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    min-width: 1000px;
}

div{
    display: block;
}

a{
    text-decoration:none;
    color: #16A085;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:#1ABC9C;
}
a:active{
    text-decoration: none;
    color:#E74C3C;
}
a.link:hover{
    background-color: rgb(0, 0, 0, .04);
    color: #1ABC9C;
    text-decoration: none;

}
a.link:active{
    background-color: rgb(0,0,0,.06);
    text-decoration: none;

}

header{
    display: flex;
    -webkit-box-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1.4rem;
    height: 5.334rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 100;
    justify-content: space-between;
}

::-webkit-scrollbar{
    width: .6rem;
    height: .6rem;
}

::-webkit-scrollbar-thumb{
    background-color: #ccc;
    outline: none;
}

body {
    display: block
}

button,input{
    overflow: visible;
    font:inherit;
    margin: 0;
}

input{
    -webkit-appearance: textfield;
    background-color: white;
    cursor: text;
    padding:1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}



.leftBox {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 15rem;
}

.navigatorForMe {
    padding-right: 0;
    position: relative;
    padding-left: 1.2rem;
    user-select: none;
    min-width: unset;
}

.meBt {
    background-image: url("");
    width: 2.667rem;
    height: 2.667rem;
    border-radius: 50%;
    background-color: #eee;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: -10px;
    margin-right: 10px;
}

.meMenu {
    margin-top: 1.3rem;
    top:100%;
    /* right: -1.4rem; */
    left:-1.2rem;
    position: absolute;
    min-width: 14rem;
    font-size: 1.25rem;
    color: #909090;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid hsla(217,5%,71%,.45);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.LinkGroup {
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    padding: .8rem 0;
}

.link{
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    padding:.8rem 1.2rem;
    color:inherit;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}


.titleInput {
    margin: 0;
    padding:0;
    font-size: 2rem;
    font-weight: 700;
    /* color:#000; */
    border:none;
    outline:none;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    height: 100%;
    overflow: visible;
    width:100%;
    min-width: 20rem;
}

.midBox{
    width: 100%;
    padding-left: 20px;
}
.rightBox {
    -webkit-box-pack:end;
    justify-content: flex-start;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 50rem;
}



.editorSwitcher {
    position:relative;
    user-select: none;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.rtfButton {
    font-size: 2rem;
    line-height: 1;
    vertical-align: middle;
    color: #b2bcc5;
    cursor: pointer;
}

.iconMore {
    font-style: italic;
}

.panel {
    position:absolute;
    margin-top: 1.6rem;
    padding: 1rem 2rem;
    top: 100%;
    left: 50%;
    font-size:1.2rem;
    white-space: nowrap;
    color: #b2bcc5;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 2px #f1f1f1;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    cursor: pointer;
    z-index: 100;
}

.autoSaving {
    font-size: 1.334rem;
    white-space: nowrap;
    color:#b2bcc5;
    cursor: default;
    user-select: none;
    padding-left:1.2rem;
    padding-right:1.2rem;
    padding-top: 5px;
}

.saveBt{
    margin: 0 0 0 .4em;
    padding: .2em .4em;
    color: inherit;
    text-decoration: none;
    border: 1px solid currentColor;
    border-radius: 2px;
}


.publishForPanel {
    user-select: none;
    padding-left: 1.2rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: -14px;
}

.postBt {
    font-size: 1.334rem;
    white-space: nowrap;
    color:#007fff;
    cursor: pointer;
    user-select: none;
}

.iconPublishArrow {
    margin-left: .5rem;
}

.title {
    font-size: 1.56rem;
    font-weight: 700;
    color: #34495e;
}

.cutOffLine {
    font-size: 1.334rem;
    font-weight: 400;
    color: #b2bcc5;
}



.subTitle {
    margin-bottom: 1rem;
    font-size: 1.334rem;
    font-weight: 400;
    color: #34495e;
}

.categoryList {
    white-space: normal;
}

.item{
    display: inline-block;
    margin: 0 .6rem .8rem 0;
    padding: .4rem .7rem;
    font-size: 1.1rem;
    white-space: nowrap;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    cursor: pointer;
}

.tagBox {
    margin-bottom: 1.6rem;
}

.tagInput {
    position: relative;
}

.tagText {
    padding:.2rem,0;
    width: 100%;
    font-size:.9em;
    border:none;
    border-bottom: 1px solid #f1f1f1;
    border-radius:0;
    outline: none;
}

.publishBt {
    display: block;
    margin:0 auto;
    padding: .6rem 1.2rem;
    color: #007fff;
    background: #fff;
    border: 1px solid currentColor;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: all .2s;
    -webkit-appearance: button;
    text-transform: none;
    overflow:visible;
    font: inherit;
}

.button.cta {
    display: inline-block;
    position: relative;
    margin: 1.2em 0 1em 0;
    padding: 1em;
    background: #46fdc8;
    border: none;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

