<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="css/flat-ui.css"/>-->
    <link rel="stylesheet" href="css/flat-ui.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <!--<link rel="stylesheet" href="css/element-ui.css"/>-->
    <script src="../static/js/ajax.js"></script>
    <script src="js/vue.js"></script>
    <!--<script src="js/vue.min.js"></script>-->
    <title>轨迹博客控制台</title>
</head>
<body>
<div id="app" class="main">
    <div class="head">
        <div class="logo">
            <div class="logoIcon headImage"></div>
            <!--<div class="logoWord">Track Blog</div>-->
        </div>
        <div class="flexBlank"></div>
        <div class="menuItem" @click="retrieveTable('user', 1, 10)">User</div>
        <div class="menuItem" @click="retrieveTable('article', 1, 10)">Article</div>
        <div class="menuItem" @click="retrieveTable('comment', 1, 10)">Comment</div>
        <div class="flexBlank"></div>
        <div title="Notification" class="menuButton">
            <span class="fui-bubble"></span>
        </div>
        <div title="Logout" class="menuButton" onclick="logout()">
            <span class="fui-power"></span>
        </div>
        <div class="administratorInfo"></div>
        <div class="administratorPortraitContainer">
            <div class="administratorPortrait"></div>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <div class="sidebarListTitle" data-expand="false" @click="toggleExpand($event)">
                <div class="sidebarListTitleIcon">
                    <span class="fui-user"></span>
                </div>
                <div class="sidebarListTitleWord">Users</div>
                <div class="sidebarListTitleStatusIcon" data-expand="false">
                    <span class="fui-arrow-right"></span>
                </div>
            </div>
            <ul class="sidebarListContent" data-expand="false">
                <li class="sidebarListItem">管理员列表</li>
                <li class="sidebarListItem">工作岗位</li>
                <li class="sidebarListItem">权限管理</li>
                <li class="sidebarListItem">部门管理</li>
                <li class="sidebarListItem">日志查看</li>
            </ul>
            <div class="sidebarListTitle" data-expand="false" @click="toggleExpand($event)">
                <div class="sidebarListTitleIcon">
                    <div class="sidebarListTitleIcon">
                        <span class="fui-lock"></span>
                    </div>
                </div>
                <div class="sidebarListTitleWord">Administrator</div>
                <div class="sidebarListTitleStatusIcon" data-expand="false">
                    <span class="fui-arrow-right"></span>
                </div>
            </div>
            <ul class="sidebarListContent" data-expand="false">
                <li class="sidebarListItem">个人信息</li>
                <li class="sidebarListItem">工作计划</li>
                <li class="sidebarListItem">操作日志</li>
                <li class="sidebarListItem">系统反馈</li>
            </ul>
            <div class="sidebarListTitle" data-expand="false" @click="toggleExpand($event)">
                <div class="sidebarListTitleIcon">
                    <div class="sidebarListTitleIcon">
                        <span class="fui-gear"></span>
                    </div>
                </div>
                <div class="sidebarListTitleWord">Settings</div>
                <div class="sidebarListTitleStatusIcon" data-expand="false">
                    <span class="fui-arrow-right"></span>
                </div>
            </div>
            <ul class="sidebarListContent" data-expand="false">
                <li class="sidebarListItem">控制台主题</li>
                <li class="sidebarListItem">管理表格样式</li>
                <li class="sidebarListItem">预览文章</li>
                <li class="sidebarListItem">导出操作日志</li>
                <li class="sidebarListItem">敏感词设置</li>
            </ul>
        </div>
        <div class="content">
            <div class="controlPanelTop">
                <input type="text" class="form-control input-sm searchInput" placeholder="Search ..."/>
                <button class="btn btn-embossed btn-primary">Search</button>
                <div class="flexBlank"></div>
                <button class="btn btn-danger">Delete</button>
            </div>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col" v-for="item in table.head">{{item}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="record in table.data">
                    <th scope="row"><label class="checkbox"> <input type="checkbox" data-toggle="checkbox"
                                                                    class="custom-checkbox"> <span class="icons">
                <span class="icon-unchecked"></span>
                <span class="icon-checked"></span>
                </span> </label></th>
                    <td v-for="value in record">{{value}}</td>
                </tr>
                </tbody>
            </table>
            <div class="paginationContainer">
                <ul class="customPagination pagination">
                    <li class="previous">
                        <a href="#" class="fui-arrow-left"></a>
                    </li>
                    <li v-for="number in pageNumbers">
                        <a>{{number}}</a>
                    </li>
                    <li class="next">
                        <a href="#" class="fui-arrow-right"></a>
                    </li>
                </ul>
                <input class="form-control input-sm pageInput" placeholder="Page ..."/>
                <button class="btn btn-default btn-primary">Jump</button>
            </div>
        </div>
    </div>
</div>
<!--<script src="js/jquery.js"></script>-->
<!--<script src="js/flat-ui.js"></script>-->
<!--<script src="js/index.js"></script>-->
<!--<script src="js/element-ui.js"></script>-->
<script src="js/index-vue.js"></script>
</body>
</html>