<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <articleTitle></articleTitle>
    </title>
    <link rel="stylesheet" href="../../../static/template/github-markdown.min.css"/>
    <link rel="stylesheet" href=".../../../static/template/hybrid.min.css"/>
    <script src="../../../static/template/highlight.min.js"></script>
    <script src="../../../static/template/marked.js"></script>
</head>
<body>
<!-- tag "content" should not be placed in a new line-->
<div class="markdown-body" style="min-width: 1000px; margin: 0 auto;"><content></content>
</div>
<script src="../template_markdown.js"></script>
</body>
</html>