<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <articleTitle></articleTitle>
        - Track Blog
    </title>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">
    <script src="https://www.track-blog.com/static/js/ajax.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.track-blog.com/static/template/hybrid.min.css"/>

    <link rel="stylesheet" href="https://www.track-blog.com/static/template/template_markdown.css"/>
    <script src="https://www.track-blog.com/static/template/highlight.min.js"></script>
    <script src="https://www.track-blog.com/static/template/marked.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-inverse" role="navigation">
        <a href="https://www.track-blog.com" class="logo">TrackBlog</a>
        <div v-if="signed" class="d-flex">
            <div class="navButton editButton d-flex align-items-center" @click="jumpToEdit"><span
                    class="fui-new"></span>发表文章
            </div>
            <div class="navButton homeButton d-flex align-items-center" @click="jumpToIndex"><span
                    class="fui-home"></span>个人主页
            </div>
            <div class="navButton settingButton d-flex align-items-center" @click="jumpToSetting"><span
                    class="fui-gear"></span>设置
            </div>
            <div class="navButton signOutButton d-flex align-items-center" @click="signOut"><span
                    class="fui-power"></span>注销
            </div>
        </div>
        <div v-else class="d-flex">
            <div class="signButton">Sign In</div>
            <div class="signButton">Sign Up</div>
        </div>
    </nav>

    <div class="main">
        <div class="markdown-body" id="content">
            <content></content>
        </div>
        <div class="aside">
            <div class="asideTitle">关于作者</div>
            <div class="profile">
                <div class="portrait">
                    <img id="portraitImage"/>
                </div>
                <div class="authorInfo">
                    <div class="authorName">{{articleUser}}</div>
                    <div class="authorIntroduction">轨迹博客创始人之一，拥有数百辆GTA跑车，富可敌国</div>
                </div>
            </div>
            <div class="statistic">
                <span class="fui-document"></span>
                <p>发表文章数：<span>{{numberOfArticles}}</span></p>
            </div>
            <div class="statistic">
                <span class="fui-heart"></span>
                <p>获得赞同数：<span>{{numberOfAgrees}}</span></p>
            </div>
            <div class="statistic">
                <span class="fui-eye"></span>
                <p>获得阅读量：<span>{{numberOfReads}}</span></p>
            </div>
        </div>
    </div>
</div>
<script src="https://www.track-blog.com/static/template/template_markdown.js"></script>
</body>
</html>