*
{
    padding: 0px;
    margin: 0px;

    --clouds: #ECF0F1;
    --silver: #BDC3C7;
    --wet-asphalt: #34495E;
    --midnight-blue: #2C3E50;
    --turquoise: #1ABC9C;
    --green-sea: #16A085;
    --duration: 0.5s;
}

body
{
    background-color: var(--silver);
}

#container
{
    margin-top: 20px;
    width: 100vw;

}

#main
{
    width: 900px;
    height: 300px;
}

.profile
{
    width: 280px;
    margin-left: 30px;
}

.mainTitle
{
    color: white;
    font-size: 24px;
    padding-left: 30px;
    height: 75px;
    background-color: var(--wet-asphalt);
}

.article
{
    height: 50px;
    width: 100%;
    background-color: var(--clouds);
    margin-top: 20px;
    color: var(--wet-asphalt);
    transition: all var(--duration);
}

.article:hover
{
    color: var(--turquoise);
    background-color: var(--wet-asphalt);
    transition: all var(--duration);
}

.articleTitle
{
    margin-left: 10px;
    max-width: 80%;
    font-size: 24px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.articleTitle:hover
{
    text-decoration: underline;
}

.articleTime
{
    margin-right: 10px;
    min-width: 20%;
    text-align: right;
}

.username
{
    height: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.portrait
{
    padding: 20px 0px;
    background-color: var(--clouds);
}

.portrait > img
{
    width: 100px;
    height: 100px;
    background-color: var(--midnight-blue);
    flex-shrink: 0;
}

.statistic
{
    height: 90px;
    background-color: var(--clouds);
}

.statisticItem
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statisticItem > div
{
    font-weight: bold;
    margin-top: 10px;
    color: var(--turquoise);
}