<!DOCTYPE HTML>
<html>

<head>
    <title>——轨迹博客</title>
    <link rel="stylesheet" href="template.css"/>
</head>

<body>
    <div class="navigationContainer">
        <div class="navigation">
            <div class="logo"></div>
            <div class="blank"></div>
            <div class="navigationButton">Our GitHub</div>
            <div class="navigationButton">Contact Us</div>
            <div class="navigationButton">Feedback</div>
            <div class="blank"></div>
            <div class="sign">Sign In</div>
            <div class="separator"></div>
            <div class="sign">Sign Up</div>
        </div>
    </div>
    <div class="main">
        <div class="article">
            <h1>【初级篇】独立开发者 5 分钟入门 App 营销</h1>
            <p>_</p>
            <p>这篇文章面向的是正在准备，或者已经向 App Store （也适用于 Google Play 等其他市场）发布自己作品的用户。</p>
            <p>_</p>
            <b>通过给你实例分析“新氧”和“微P图”这两款应用，来告诉你，面向应用市场，什么是低级错误，什么是高级玩法。</b>
            <p>_</p>
            <b>为什么即便是一模一样的代码，一模一样的推广预算，销量也可以有百倍、千倍的差别。</b>
            <p>_</p>
            <h1>实战案例剖析 - 搜索排名</h1>
            <p>_</p>
            <p>我们找一个 App Store 数据分析平台，这里使用七麦数据，搜索一下“新氧”和“微P图”这两款应用。</p>
            <p>_</p>
            <h1>【初级篇】独立开发者 5 分钟入门 App 营销</h1>
            <p>_</p>
            <p>这篇文章面向的是正在准备，或者已经向 App Store （也适用于 Google Play 等其他市场）发布自己作品的用户。</p>
            <p>_</p>
            <b>通过给你实例分析“新氧”和“微P图”这两款应用，来告诉你，面向应用市场，什么是低级错误，什么是高级玩法。</b>
            <p>_</p>
            <b>为什么即便是一模一样的代码，一模一样的推广预算，销量也可以有百倍、千倍的差别。</b>
            <p>_</p>
            <h1>实战案例剖析 - 搜索排名</h1>
            <p>_</p>
            <p>我们找一个 App Store 数据分析平台，这里使用七麦数据，搜索一下“新氧”和“微P图”这两款应用。</p>
        </div>
        <div class="aside">
            <div class="author">
                <div class="asideTitle">关于作者</div>
                <div class="profile">
                    <div class="portrait"></div>
                    <div class="authorInfo">
                        <div class="authorName">LBY</div>
                        <div class="authorIntroduction">轨迹博客创始人之一，拥有数百辆GTA跑车，富可敌国</div>
                    </div>
                </div>
                <div class="statistic">
                    <div class="statisticIcon iconRole"></div>
                    <span>系统管理员</span>
                </div>
                <div class="statistic">
                        <div class="statisticIcon iconLike"></div>
                        获得赞同数：<span>18,234</span>
                </div>
                <div class="statistic">
                        <div class="statisticIcon iconRead"></div>
                        获得阅读量：<span>109,202</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>