<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8"/>
    <title><articleTitle></articleTitle>——轨迹博客</title>
    <link rel="stylesheet" href="https://www.track-blog.com/static/template/template.css"/>
</head>

<body>
    <div class="navigationContainer">
        <div class="navigation">
            <div class="logo"></div>
            <div class="blank"></div>
            <div class="navigationButton">Our GitHub</div>
            <div class="navigationButton">Contact Us</div>
            <div class="navigationButton">Feedback</div>
            <div class="blank"></div>
            <div class="sign">Sign In</div>
            <div class="separator"></div>
            <div class="sign">Sign Up</div>
        </div>
    </div>
    <div class="main">
        <div class="article">
            <content></content>
        </div>
        <div class="aside">
            <div class="author">
                <div class="asideTitle">关于作者</div>
                <div class="profile">
                    <div class="portrait"></div>
                    <div class="authorInfo">
                        <div class="authorName">LBY</div>
                        <div class="authorIntroduction">轨迹博客创始人之一，拥有数百辆GTA跑车，富可敌国</div>
                    </div>
                </div>
                <div class="statistic">
                    <div class="statisticIcon iconRole"></div>
                    <span>系统管理员</span>
                </div>
                <div class="statistic">
                        <div class="statisticIcon iconLike"></div>
                        获得赞同数：<span>18,234</span>
                </div>
                <div class="statistic">
                        <div class="statisticIcon iconRead"></div>
                        获得阅读量：<span>109,202</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>