<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <username></username>
        的主页 - Track Blog
    </title>
    <link rel="stylesheet" href="https://www.track-blog.com/static/template/template_homepage.css"/>
    <link rel="stylesheet" href="https://www.track-blog.com/console/css/bootstrap.min.css"/>

    <!--temp-->
    <!--<link rel="stylesheet" href="../../console/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="template_homepage.css"/>-->
    <!--temp-->
    <script src="https://www.track-blog.com/static/js/ajax.js"></script>
</head>
<body>
<div id="container" class="d-flex justify-content-center">
    <div id="main">
        <div class="mainTitle rounded d-flex align-items-center">文章列表</div>
    </div>
    <div class="profile d-flex flex-column justify-content-between">
        <div class="portrait d-flex flex-column justify-content-between align-items-center rounded">
            <img class="rounded-circle"/>
            <div class="username">
                <username></username>
            </div>
        </div>
        <div class="statistic d-flex justify-content-around  rounded">
            <div class="statisticItem">文章
                <div id="articleSum">1800</div>
            </div>
            <div class="statisticItem">喜欢
                <div id="likeSum">2133</div>
            </div>
            <div class="statisticItem">评论
                <div id="commentSum">1999</div>
            </div>
        </div>
    </div>
</div>
<!--temp-->
<!--<script src="./template_homepage.js"></script>-->
<script src="https://www.track-blog.com/static/template/template_homepage.js"></script>
</body>
</html>