*
{
	padding: 0px;
	margin: 0px;
}

body
{
	background: url(../src/console_background.jpg) no-repeat fixed;
	background-size: 100% 100%;
	min-width: 1000px;
}

.main
{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
}

.window
{
	margin: 0 auto;
	width: 400px;
	height: 600px;
	background-color: red;
}

.logo
{
	/* 正六边形的 width : height = 1.732 : 2， 保持比例即可*/
	--logo-width: 174px;
	--logo-height: 200px;
	width: var(--logo-width);
	height: var(--logo-height);
	margin: 40px auto;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
}

.hexagonCorner
{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: calc(0.125 * var(--logo-height)) calc(0.25 * var(--logo-width));
}

.hexagonLeftTop
{
	border-color: transparent red red transparent;
}

.hexagonRightTop
{
	border-color: transparent transparent red red;
}

.hexagonLeftBottom
{
	border-color: red red transparent transparent;
}

.hexagonRightBottom
{
	border-color: red transparent transparent red;
}

.hexagonMiddle
{
	width: 50%;
	height: 50%;
	background-color: blue;
}