/*首页部分*/
body{
	min-width: 1000px;
	min-height: 1000px;
	background-color: #a0a0a0;
}

.mainColor{
	background-color: #00d1a5;
}

.menu{
	height: 50px;
	min-width: 1000px;
	margin: -10px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-image: linear-gradient(#00d1a5,#a0a0a0) 30 30;
	position: relative;
}


.signIn{
    color: white;
	text-decoration: none;
	position: absolute;
	right: 70px;
	top: 10px;

}

.login{
	color: white;
	text-decoration: none;
	position: absolute;
	right: 20px;
	top: 10px;
	bottom: 10px;
}


.center{
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

